@media (max-width: 1200px) {
   .swiper-slide {
      gap: 200px;
      h3 {
         font-size: 36px;
         line-height: 43px;
      }
      p {
         font-size: 12px;
         line-height: 14px;
      }
   }
}
@media (max-width: 1128px) {
   .footer__confid-inner {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 0;
   }
}
@media (max-width: 1048px) {
   .swiper-slide {
      gap: 100px;
      h3 {
         font-size: 32px;
         line-height: 40px;
      }
      p {
         font-size: 12px;
         line-height: 14px;
      }
   }
}
@media (max-width: 992px) {
   .product-wrapper {
      display: flex;
      margin-top: 150px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
   .product-wrapper .product-image__scroll {
      display: none;
   }
   .product-wrapper .product-image {
      display: flex;
      gap: 0px;
      width: 100%;
      justify-content: center;
   }
   .product-wrapper .product-image__scroll {
      width: 17%;
   }
   .product-image__bigger {
      max-width: 506px;
      width: 100%;
      height: 550px;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
@media (max-width: 970px) {
   .swiper-slide {
      gap: 50px;
      h3 {
         font-size: 28px;
         line-height: 36px;
      }
      p {
         font-size: 12px;
         line-height: 14px;
      }
   }
   .box {
      flex-wrap: wrap;
   }
   .visidel {
      width: 100%;
      align-items: center;
   }
}
@media (max-width: 936px) {
   .header__catalog {
      display: none;
   }
   .header__search {
      display: none;
   }
   .--dis {
      display: block !important;
      margin-top: 10px;
   }
   .header__wrapper {
      justify-content: space-between;
   }
   .header__search .search-input input {
      width: 100%;
   }
   .swiper-section {
      margin-top: 120px;
   }
   .header__img {
      display: none;
   }
   .dis-img {
      margin: 0 !important;
      img {
         width: 98px;
      }
   }
}
@media (max-width: 890px) {
   .swiper-slide {
      gap: 50px;
      padding: 80px;
      h3 {
         font-size: 28px;
         line-height: 36px;
      }
      img {
         width: 200px;
         height: 200px;
      }
   }
   .swiper-button-next {
      margin-right: 15px !important;
   }
   .swiper-button-prev {
      margin-left: 15px !important;
   }
}

@media (max-width: 878px) {
   .swiper-slide {
      gap: 50px;
      padding: 80px;
      h3 {
         font-size: 28px;
         line-height: 36px;
      }
      img {
         width: 200px;
         height: 200px;
      }
   }
}

@media (max-width: 768px) {
   .title__text {
      display: none;
   }
   .dropdown {
      width: 150px;
   }
   .categories {
      flex-direction: column;
   }
   .categories__collection {
      width: 100%;
   }
   .categories__left {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 35px;
   }
   .product-wrapper {
      display: flex;
      margin-top: 150px;
      gap: 0px;
   }
   .popular-section__wrapper-item .item-info h3 {
      max-width: 220px;
   }
}
@media (max-width: 708px) {
   .footer__inner-app {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .footer__inner {
      flex-wrap: wrap;
   }
   .footer__inner-app .socials {
      margin-top: 15px;
   }
}
@media (max-width: 700px) {
   .swiper-slide {
      gap: 40px;
      padding: 60px;
      h3 {
         font-size: 24px;
         line-height: 28px;
      }
      img {
         width: 200px;
         height: 200px;
      }
      span {
         display: block;
         font-weight: 600;
         font-size: 24px;
         line-height: 28px;
      }
   }
   .swiper-button-next {
      margin-right: 10px !important;
   }
   .swiper-button-prev {
      margin-left: 10px !important;
   }
}
@media (max-width: 648px) {
   .swiper-slide {
      gap: 20px;
      padding: 30px;
      h3 {
         font-size: 16px;
         line-height: 18px;
      }
      img {
         width: 180px;
         height: 180px;
      }
      span {
         display: block;
         font-weight: 600;
         font-size: 16px;
         line-height: 18px;
      }
   }
   .popular-section__wrapper-item .item-info h3 {
      max-width: 200px;
   }
   .swiper-button-next,
   .swiper-button-prev {
      display: none !important;
   }
   .swiper {
      max-width: 1440px;
      height: 320px;
   }
   .search-item span {
      font-size: 16px;
      line-height: 20px;
   }
}
@media (max-width: 500px) {
   .basket-counter {
      width: 85px;
      gap: 20px;
      height: 26px;
   }
   .footer__inner-about a {
      font-size: 13px;
      line-height: 15px;
   }
   .footer__inner-about h3 {
      font-weight: bold;
      font-size: 15px;
      line-height: 15px;
   }
   .basket-wrapper {
      padding: 8px;
   }
   .footer__inner-app {
      h3 {
         font-size: 15px !important;
         line-height: 15px !important;
      }
   }
   .footer__inner-app .socials-wrapper {
      display: flex;
      margin-top: 0px;
      gap: 0px;
   }
   .footer__inner-app .apps {
      display: flex;
      gap: 0px;
   }
}
@media (max-width: 464px) {
   .item-del {
      font-size: 12px;
      line-height: 15px;
      padding: 5px 8px;
   }
   .visidel__arrange-btn {
      justify-content: center;
      width: 95%;
      padding: 8px 0;
   }
   .footer__inner-app {
      flex-wrap: wrap;
      h3 {
         text-align: center !important;
      }
   }
   .footer__inner-about {
      a,
      h3 {
         text-align: center !important;
      }
   }
   .item {
      padding: 10px 10px;
      gap: 20px;
   }
   .item img {
      width: 80px;
      height: 100px;
   }
   .info h3 {
      font-size: 10px !important;
      line-height: 12px !important;
   }
   .item-del {
      margin-top: 5px;
   }
   .basket-counter {
      margin-top: 5px;
   }
   .footer__inner {
      justify-content: center;
      text-align: center;
      gap: 30px 5px;
   }
   .product-wrapper .product-info__desc-btns {
      button {
         padding: 8px 5px;
         font-weight: 600;
         font-size: 12px;
         line-height: 14px;
      }
   }
   .popular-section__wrapper-item .item-info h3 {
      max-width: 180px;
   }
}
@media (max-width: 430px) {
   .section h2 {
      margin: 0 0 30px 0;
   }
   .visidel {
      padding: 16px;
   }
   .swiper-slide {
      gap: 14px;
      padding: 18px;
   }
   .swiper {
      max-width: 1440px;
      height: 240px;
   }
   .swiper-slide {
      gap: 20px;
      padding: 30px;
      h3 {
         font-size: 16px;
         line-height: 18px;
      }
      img {
         width: 120px;
         height: 120px;
      }
   }
}
@media (max-width: 410px) {
   .item .text {
      margin-top: 5px;
   }
   .header__nav ul {
      gap: 10px;
      margin-top: 10px;
   }
   .header__nav ul li a {
      gap: 5px;
      font-size: 11px;
   }
   .header__wrapper {
      gap: 10px;
   }
   .footer__confid-inner .user-confid {
      justify-content: center;
      flex-wrap: wrap;
      font-size: 14px;
   }
   .code-confid {
      span {
         font-size: 14px;
      }
   }
}
@media (max-width: 380px) {
   .swiper-slide h3 {
      font-size: 12px;
      line-height: 14px;
   }
   .swiper-slide span {
      font-size: 14px;
      line-height: 16px;
      margin: 6px 0;
   }
}
@media (max-width: 360px) {
   .dropdown__button {
      font-size: 14px;
   }
   .header__nav ul {
      gap: 6px;
      margin-top: 10px;
   }
   .dis-img img {
      width: 89px;
   }
   .popular-section__wrapper-item .item-info h3 {
      font-size: 11px;
   }

   .title__h {
      font-weight: 500;
      font-size: 20px;
   }
}
@media (max-width: 350px) {
   .visidel {
      padding: 5px;
   }
   .swiper-slide {
      img {
         width: 80px;
         height: 80px;
      }
   }
   .popular-section__wrapper-item .item-info h3 {
      max-width: 160px;
   }
}
@media (max-width: 327px) {
   .header__nav ul li a {
      gap: 4px;
   }
   .dis-img img {
      width: 83px;
   }
   .product-wrapper .product-info__desc-btns {
      button {
         padding: 8px 5px;
         font-weight: 600;
         font-size: 11px;
         line-height: 13px;
      }
   }
}
